
/*        Fonts          */

@font-face {
    font-family: 'brawlerregular';
    src: url('fonts/brawler-webfont.eot');
    src: url('fonts/brawler-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brawler-webfont.woff2') format('woff2'),
         url('fonts/brawler-webfont.woff') format('woff'),
         url('fonts/brawler-webfont.ttf') format('truetype'),
         url('fonts/brawler-webfont.svg#brawlerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*        Whole page          */



body {
  font-family: brawlerregular, georgia, serif;
/*  background-color: #e3e3e3;*/
  /*font-family: 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;*/
  background-image: url(images/portfolio-circles-background2.jpg);
  /*background-attachment: fixed;*/
  text-align: left;
  color:#555;
  font-size: 17px;
  line-height: 180% !important;
}

a {
  color:#FF0052;
}

.site-body {
  background-color:rgba(255, 255, 255, 0.8);
}


/*        Header          */

.header {
  height:150px;
/*  width: 100%;*/
/*  background-color:#3F1E46;*/
  background: linear-gradient(to right, rgba(0,251,232,0.2), rgba(100, 37, 113, 0.4), rgba(255, 0, 82, 0.8));
  text-align: right;
  color: #fff;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.header h1 {
  padding-top: 70px;
  padding-right: 10px;
  font-size: 72px;
  margin: 0;
}

/*        Navbar          */

/*@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .sidebar-nav {
  margin-top:10px;
  }

  .site-body {
  box-shadow: 5px 5px 20px #888888;
  overflow: auto;
  margin-top:20px;
  margin-bottom: 100px;
}
}*/

.navbar { 

}
.navbar-default {
  margin-bottom: 0px !important;
  background-color: rgba(0,251,232,0.2);
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  background-image: none;
  box-shadow: none;
  border: 0;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  background-color: rgba(255,255,255,1);
  background-image: none;
  border-bottom: none;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
  margin-top:4px;
  padding-top:-4px;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: rgba(255,255,255,0.6);
  background-image: none;
  border-bottom: none;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
  margin-top:4px;
  padding-top:-4px;
}


.navbar-default .navbar-toggle .icon-bar {
    background-color: red;
}

/*        Page header          */

.page-header {
/*  background-color: #AAD8F1;*/
/*  background-color: #fff;*/
  padding:0;
  margin-top: 0;
/*  margin-bottom: 15px;*/
  overflow: auto;
  color:#3F1E46;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.page-header-text {
  text-align: right;
}

/*Top of the page inset*/

.inset-box-row {
  height: 180px;
/*  position: relative;*/
  margin-top: 5px !important;
}

.inset-image {
/*  max-width: 100%;*/
/*  max-height: 100%;*/
/*  float: left;*/
}

.inset-image img {
  border:3px #ff9399 solid;
  border-radius: 50%;
  padding: -3px;
  max-height: 100%;
  max-width: 100%;
}

/*.inset-box-container {
  display: inline;
  height:150px;
  width: 500px;
}*/

.inset-box {
  border:3px #ff9399 solid;
  border-radius: 5px;
  font-style:italic;
  padding: 10px;
  font-size: 14px;
  line-height: 14px !important;

/*  display: block;
  height: 50px;*/
/*
  max-width: 80%;
  max-height: 100%;*/
  height: 50px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
/*  left:26%;*/
}



/*        Content          */

.container {
  padding: 0; 
}
.row { 
  padding:0;
  margin:0;
}

.page-body {

  padding-top: 10px; 
  padding-bottom: 50px;
}


h3 {
  color:#FF0052;
  padding-bottom: 10px;
}


/* Content pages */

#content-profile {
  display: block;

}

#content-portfolio, #content-process, #content-contact, #content-cv {
  display: none;
}


/*Images and insets*/

.body-image {
  margin-top:-130px;
  margin-bottom: 10px;
}

.body-image img {
  border:3px #ff9399 solid;
  border-radius: 50%;
}

.body-image-inset {
  border:3px #ff9399 solid;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: rgba(255,255,255,0.8);
  position: relative;
  right:20px;
  top:170px;
  float: right;
}

.body-image-inset p {
  font-size: 12px;
  font-style: italic;
  line-height:14px;
  display: block;
  padding: 40px 5px 0px 5px;
  text-align: center;
}

@media (min-width: 768px) {
  .body-image-inset {
    right: 20px;
    top: 170px;
    height: 150px;
    width: 150px;
  }

  .body-image-inset p {
    padding: 40px 5px 0 5px;
  }
}

@media (min-width: 992px) {
  .body-image-inset {
    right: 20px;
    top: 200px;
  }
}

@media (min-width: 1200px) {
  .body-image-inset {
    right: 50px;
    top: 200px;
  }
}