/*        Fonts          */



@font-face {
    font-family: 'brawlerregular';
    src: url('fonts/brawler-webfont.eot');
    src: url('fonts/brawler-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brawler-webfont.woff2') format('woff2'),
         url('fonts/brawler-webfont.woff') format('woff'),
         url('fonts/brawler-webfont.ttf') format('truetype'),
         url('fonts/brawler-webfont.svg#brawlerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/*        Whole page          */



body {
  font-family: brawlerregular, georgia, serif;
  background-image: url(images/portfolio-circles-background3.jpg);
  text-align: left;
  color:#555;
  font-size: 17px;
  line-height: 180% !important;
}

a {
  color:#FF0052;
}

.site-body {
  background-color:rgba(255, 255, 255, 0.8);
}



/*        Header          */



header {
  height:150px;
  background: linear-gradient(to right, rgba(0,251,232,0.2), rgba(100, 37, 113, 0.4), rgba(255, 0, 82, 0.8));
  text-align: right;
  color: #fff;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

header > h1 {
  padding-top: 70px;
  padding-right: 10px;
  font-size: 72px;
  margin: 0;
}



/*        Navbar          */



.navbar {
  z-index: 50;
  overflow: hidden;

}
.navbar-default {
  margin-bottom: 0px !important;
  background-color: rgba(0,251,232,0.2);
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  background-image: none;
  box-shadow: none;
  border: 0;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  background-image: none;
  background-color: #FBFFFF;
  border-bottom: none;
  box-shadow: 0 3px 9px;
}

.navbar-default .navbar-nav > li > a:hover {
background-color: rgba(255,255,255,0.6);
background-image: none;
border-bottom: none;
}

@media (min-width: 768px) {
  .navbar-default .navbar-nav > .active > a, 
  .navbar-default .navbar-nav > .active > a:hover, 
  .navbar-default .navbar-nav > .active > a:focus {
    background-color: rgba(255,255,255,0.8);
    background-image: none;
    border-bottom: none;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
    margin-top:4px;
    padding-top:-4px;
  }

  .navbar-default .navbar-nav > li > a:hover {
  background-color: rgba(255,255,255,0.6);
  background-image: none;
  border-bottom: none;
  border-top-right-radius:15px;
  border-top-left-radius:15px;
  margin-top:4px;
  padding-top:-4px;
  }
}

.navbar-toggle {
  border-color: #FBFFFF !important;
  color: #FF0052 !important;
}

.navbar-toggle:hover, .navbar-toggle:focus {
  background-color: #FBFFFF !important;
}

.navbar-collapse {
  border-top: none;
}


.scroll-to-top {
  font-size: 200%;
  color: #ff0052;
  background-color: rgba(255,255,255, 1);
  border:3px #ff9399 solid;
  border-radius: 34px;
  width: 68px;
  height: 68px;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 150;
  display: none;
}

@media (min-width: 768px) {
  .scroll-to-top {
    right:40px;
  }
}

#nav.affix {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(210,254,251,0.9)
}

#nav.affix-top {
  width: 100% !important;
}



/*        Page header          */



.page-header {
  padding:0;
  margin-top: 0;
  overflow: auto;
  color:#3F1E46;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.page-header-text {
  text-align: right;
}



/*        Image inset          */



.inset-image img {
  border:3px #ff9399 solid;
  border-radius: 50%;
  padding: -3px;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

@media (min-width: 768px) {
  .inset-image {
    padding-top: 70px;
  }
}



/*        Content          */



.container {
  padding: 0; 
}

.row { 
  padding:0;
  margin:0;
}

.page-body {
  padding-top: 10px; 
  padding-bottom: 50px;
}

h3 {
  color:#FF0052;
  padding-bottom: 10px;
}



/*        Content pages         */

.intro-bubble {
  background-color: rgba(204,254,251,0.2);
  border-radius: 8px;
  border: solid #B9EBEC 1px;
  box-shadow: 0 3px 9px;
  padding: 20px;
  margin-bottom: 15px;
}



#content-profile {
  display: block;
}

#content-portfolio, #content-process, #content-contact, #content-cv {
  display: none;
}

#content-contact p {
  text-align: center;
}

.download-cv {
  font-size: 200%;
  padding: 10px;
  vertical-align: middle;
}

.download-text {
  text-align: right;
  font-style: italic;
  float: right;
  margin: 0px;
}

.social-links {
  font-size: 200%;
  padding: 3px;
}

/*        Images and insets          */

.body-image {
  margin-top:-130px;
  margin-bottom: 10px;
}

.body-image img {
  border:3px #ff9399 solid;
  border-radius: 50%;
  display: inline;
}

.body-image-inset {
  border:3px #ff9399 solid;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-color: rgba(255,255,255,0.8);
  position: relative;
  right:20px;
  top:170px;
  float: right;
}

.body-image-inset p {
  font-size: 12px;
  font-style: italic;
  line-height:14px;
  display: block;
  padding: 40px 5px 0px 5px;
  text-align: center;
}

@media (min-width: 768px) {
  .body-image-inset {
    right: 20px;
    top: 170px;
    height: 150px;
    width: 150px;
  }

  .body-image-inset p {
    padding: 40px 5px 0 5px;
  }
}

@media (min-width: 992px) {
  .body-image-inset {
    right: 20px;
    top: 200px;
  }
}

@media (min-width: 1200px) {
  .body-image-inset {
    right: 50px;
    top: 200px;
  }
}